{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div>
        <svg viewBox="0 0 1440 134" preserveAspectRatio="none" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" class="bg-secondary d-block text-white" width="100%" height="160">
            <path d="M0 134h1440v-74c-586 216-844-126-1440 0v74z"/>
        </svg>
        <section class="bg-light pb-5 pt-5 text-muted"> 
            <div class="container pb-4 pt-4"> 
                <div class="align-items-end gy-4 row"> 
                    <div class="col-lg-8 col-xl-9"> 
                        <h2 class="display-5 fw-bold text-dark">What is&nbsp;<span class="text-primary">GreenSeed?</span></h2>
                        <p class="fw-light lead mb-4">What started as a small brick and mortar shop 10 years ago, quickly turned into 
a major player in a battle to preserve the nature for future generations.</p>
                        <p class="fw-light lead mb-4">Today, GreenSeed is one of the biggest online retailers for plants and plant accessories.<br/>We started <b>GreenSeed Foundation</b> which is sponsoring the research in renewable technologies and we are actively driving 
the efforts for reforestation in endangered areas around the world.</p>
                        <div class="gx-3 gy-4 row row-cols-sm-2"> 
                            <div> 
                                <img src="https://images.unsplash.com/photo-1508193638397-1c4234db14d8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDEzfHxmb3Jlc3R8ZW58MHx8fHwxNjY5NDcyMzM0&ixlib=rb-4.0.3&q=80&w=1080" class="img-fluid w-100"/> 
                            </div>
                            <div> 
                                <img src="https://images.unsplash.com/photo-1495908333425-29a1e0918c5f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDE0fHxzZWVkfGVufDB8fHx8MTY2OTQ2NDIwMA&ixlib=rb-4.0.3&q=80&w=1080" class="img-fluid w-100"/> 
                            </div>                                     
                        </div>                                 
                    </div>                                                          
                </div>                         
            </div>                     
        </section>
        <section class="background-center-center background-cover bg-light pb-5 pt-5 text-center" style="background-image:url('https://images.unsplash.com/photo-1621459565612-97fb9e4ed9d9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDUyfHxzZWVkfGVufDB8fHx8MTY2OTQ2NzYxMg&ixlib=rb-4.0.3&q=80&w=1080');">
            <div class="container pb-4 pt-4"> 
                <div class="justify-content-center row"> 
                    <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                        <div class="bg-dark opacity-85 pb-5 ps-3 pe-3 pt-5 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="mb-3" viewBox="0 0 16 16">
                                <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                            </svg>
                            <h2 class="fw-bold mb-1">#1</h2>
                            <p class="mb-0">Sustainable Business<br/></p>
                        </div>                                 
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                        <div class="bg-dark opacity-85 pb-5 ps-3 pe-3 pt-5 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="mb-3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                            </svg>
                            <h2 class="fw-bold mb-1">&gt;500,000</h2>
                            <p class="mb-0">Happy Customers</p>
                        </div>                                 
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                        <div class="bg-dark opacity-85 pb-5 ps-3 pe-3 pt-5 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="mb-3" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
                            </svg>
                            <h2 class="fw-bold mb-1">1,000,000</h2>
                            <p class="mb-0">Trees planted to date</p>
                        </div>                                 
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3 pt-3">
                        <div class="bg-dark opacity-85 pb-5 ps-3 pe-3 pt-5 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="mb-3" viewBox="0 0 16 16">
                                <path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.503 7.503 0 0 1 5.538 7.24zm-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/>
                            </svg>
                            <h2 class="fw-bold mb-1">100</h2>
                            <p class="mb-0">Countries Served</p>
                        </div>                                 
                    </div>                             
                </div>                         
            </div>
        </section>
    </div>
</main>
{% endblock %}
