{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div>
</div>
    <section class="background-cover bg-dark pb-5 position-relative pt-5 text-white" style="background-image:url('https://images.unsplash.com/photo-1646220461631-86848066dfe6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDg2fHxwbGFudCUyMHRlcnJhcml1bXxlbnwwfHx8fDE2Njk0NzY0OTc&ixlib=rb-4.0.3&q=80&w=1080');"> 
        <div class="container pb-5 pt-5"> 
            <div class="pb-5 pt-5 row"> 
                <div class="col-lg-7 pb-5 pt-5" style="background-color: rgba(41, 35, 35, 0.62); border-top-left-radius: 25px; border-bottom-right-radius: 25px;" id="new-collection"> 
                    <p class="fw-normal h4 text-uppercase">check out our Newest Collection!</p> 
                    <h1 class="display-3 fw-bold mb-3">Micro Rainforest</h1> 
                    <p class="lead mb-4">Beautiful mini ecosystems in a jar</p><a href="#" class="btn btn-light pb-2 ps-4 pe-4 pt-2">Shop Collection</a> 
                </div>                         
            </div>                     
        </div>                 
    </section>
    <div class="container"> 
        <div class="row height d-flex justify-content-center align-items-center" style="margin-top: 35px; margin-bottom: 25px;"> 
            <div class="col-md-8"> 
                <div class="search input-group"> <i class="fa fa-search"></i> 
                    <input type="text" class="form-control rounded-start" placeholder="I'm looking for..."/> 
                    <button class="btn btn-primary rounded-left">Search</button>                             
                </div>                         
            </div>                     
        </div>                 
    </div>
    <div class="container pb-4 pt-4">
        <div class="align-items-center row">
            <div class="col">
                <hr class="border-secondary mb-0 mt-0"/> 
            </div>
            <div class="col-auto">
                <h2 class="fw-bold h4 mb-0 text-uppercase">PLANT COLLECTIONS</h2> 
            </div>
            <div class="col">
                <hr class="border-secondary mb-0 mt-0"/> 
            </div>
        </div>
    </div>
    <section class="bg-light pb-5 pt-5"> 
        <div class="container"> 
            <div class="justify-content-center row"> 
                <div class="col-lg-4 col-md-6 py-3"> 
                    <div class="position-relative text-dark"> 
                        <img src="https://images.unsplash.com/photo-1599009944474-5bc0ff20db85?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDIwfHxob3VzZSUyMHBsYW50fGVufDB8fHx8MTY2OTQ3NzM1MA&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=280&h=250&fit=crop" class="img-fluid w-100" alt="..." width="280" height="250"/>
                        <div class="bottom-0 end-0 pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h5 mb-3">House Plants</h2>
                            <a href="#" class="small text-secondary">View Collection</a>
                        </div>                                 
                    </div>                             
                </div>
                <div class="col-lg-4 col-md-6 py-3"> 
                    <div class="position-relative text-dark"> 
                        <img src="https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDN8fHN1Y2N1bGVudCUyMHBsYW50fGVufDB8fHx8MTY2OTQ3NzY4Mg&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=280&h=250&fit=crop" class="img-fluid w-100" alt="..." width="280" height="250"/>
                        <div class="bottom-0 end-0 pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h5 mb-3">Succulents</h2>
                            <a href="#" class="small text-secondary">View Collection</a>
                        </div>                                 
                    </div>                             
                </div>
                <div class="col-lg-4 col-md-6 py-3"> 
                    <div class="position-relative text-dark"> 
                        <img src="https://images.unsplash.com/photo-1657311717524-9d74bbd5714d?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDExfHxmbHl0cmFwJTIwfGVufDB8fHx8MTY2OTQ3Nzg5OA&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=280&h=250&fit=crop" class="img-fluid w-100" alt="..." width="280" height="250"/>
                        <div class="bottom-0 end-0 pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h5 mb-3">Carnivourus plants</h2>
                            <a href="#" class="small text-secondary">View Collection</a>
                        </div>                                 
                    </div>                             
                </div>                         
            </div>                     
        </div>                 
    </section>
    <section class="bg-light pb-5 pt-5"> 
        <div class="container"> 
            <div class="justify-content-center row"> 
                <div class="col-lg-4 col-md-6 py-3"> 
                    <div class="position-relative text-dark"> 
                        <img src="https://images.unsplash.com/photo-1615941341691-6c483786d419?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDEzNnx8Y2FjdGl8ZW58MHx8fHwxNjY5NDc4MDg1&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=280&h=250&fit=crop" class="img-fluid w-100" alt="..." width="280" height="250"/>
                        <div class="bottom-0 end-0 pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h5 mb-3">Cacti</h2>
                            <a href="#" class="small text-secondary">View Collection</a>
                        </div>                                 
                    </div>                             
                </div>
                <div class="col-lg-4 col-md-6 py-3"> 
                    <div class="position-relative text-dark"> 
                        <img src="https://images.unsplash.com/photo-1526429556246-0f157d4ba7e0?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDI5fHxyb3NlJTIwcG90fGVufDB8fHx8MTY2OTQ3ODU4Mg&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=280&h=250&fit=crop" class="img-fluid w-100" alt="..." width="280" height="250"/>
                        <div class="bottom-0 end-0 pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h5 mb-3">Garden Plants</h2>
                            <a href="#" class="small text-secondary">View Collection</a>
                        </div>                                 
                    </div>                             
                </div>
                <div class="col-lg-4 col-md-6 py-3"> 
                    <div class="position-relative text-dark"> 
                        <img src="https://images.unsplash.com/photo-1551075649-8fdfd4c6f842?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDZ8fGJvbnNhaXxlbnwwfHx8fDE2Njk0Nzg2NTA&ixlib=rb-4.0.3q=85&fm=jpg&crop=faces&cs=srgb&w=280&h=250&fit=crop" class="img-fluid w-100" alt="..." width="280" height="250"/>
                        <div class="bottom-0 end-0 pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h5 mb-3">Bonsai</h2>
                            <a href="#" class="small text-secondary">View Collection</a>
                        </div>                                 
                    </div>                             
                </div>                         
            </div>                     
        </div>                 
    </section>
    <section class=" pb-3 pt-3 text-center"> 
        <div class="container"> 
            <div class="bg-dark text-white"> 
                <div class="align-items-center row"> 
                    <div class="col-lg-6 pb-5 pb-lg-0 pt-5 pt-lg-0"> 
                        <div class="ps-5 pe-5"> 
                            <h2 class="fw-normal h5 mb-1 text-white-50">While supplies last</h2> 
                            <h3 class="fw-bold h1 mb-4">Limited Time Offer<br/>30% off our Bonsai collection</h3>
                            <a href="#" class="btn btn-light pb-2 ps-4 pe-4 pt-2">Take me there!</a> 
                        </div>                                 
                    </div>                             
                    <div class="col-lg-6"> 
                        <img src="https://images.unsplash.com/photo-1526397751294-331021109fbd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDl8fGJvbnNhaXxlbnwwfHx8fDE2Njk0Nzg2NTA&ixlib=rb-4.0.3&q=80&w=1080" class="d-block img-fluid w-100" alt="CTA image" width="480" height="360"/> 
                    </div>                             
                </div>                         
            </div>                     
        </div>                 
    </section>
    <section class="pb-5 pt-5 text-center"> 
        <div class="container"> 
            <div class="justify-content-center row"> 
                <div class="col-lg-4 col-sm-6 pb-3 pt-3"> 
                    <div> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="3rem" height="3rem" class="mb-3 text-dark"> 
                            <g> 
                                <path fill="none" d="M0 0h24v24H0z"/> 
                                <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"/> 
                            </g>                                     
                        </svg>                                 
                        <h2 class="fw-bold h5 mb-3 text-dark">Free Shipping</h2> 
                        <p class="mb-0">Free, same day shipping<br/>on orders above 50&euro;</p> 
                    </div>                             
                </div>                         
                <div class="col-lg-4 col-sm-6 pb-3 pt-3"> 
                    <div> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="3rem" height="3rem" class="mb-3 text-dark"> 
                            <g> 
                                <path fill="none" d="M0 0h24v24H0z"/> 
                                <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zM7.197 14.682l-2.175 2.174a8.549 8.549 0 0 0 1.818 1.899l.305.223 2.173-2.175a5.527 5.527 0 0 1-1.98-1.883l-.14-.238zm9.606 0a5.527 5.527 0 0 1-1.883 1.98l-.238.14 2.174 2.176a8.549 8.549 0 0 0 1.899-1.818l.223-.304-2.175-2.174zM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM7.145 5.022a8.549 8.549 0 0 0-1.9 1.818l-.223.305 2.175 2.173a5.527 5.527 0 0 1 1.883-1.98l.238-.14-2.173-2.176zm9.71 0l-2.173 2.175a5.527 5.527 0 0 1 1.98 1.883l.14.238 2.176-2.173a8.549 8.549 0 0 0-1.818-1.9l-.304-.223z"/> 
                            </g>                                     
                        </svg>                                 
                        <h2 class="fw-bold h5 mb-3 text-dark">24/7 Online Support</h2> 
                        <p class="mb-0">Problem? No problem!<br/>Our customer service is online 24/7</p> 
                    </div>                             
                </div>                         
            </div>                     
        </div>                 
    </section>
</main>
{% endblock %}
