body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    min-width: 540px;
}

footer {
    min-width: 540px;
}

#profile-update-form input {
    color: black;
}

.order-history {
    max-height: 500px;
    overflow-y: auto;
}