@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    min-width: 540px;
}

footer {
    min-width: 540px;
}


/* Messages */
#message-container {
    position: relative;
}

#msg {
    position: absolute;
    top: 0;
    right: 15px;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login form */
#main-form {
    padding-top:4.2rem;
	padding-bottom:4.2rem;
	background:rgba(0, 0, 0, 0.76);
    height: 83.3vh;
}

#login-form input{
    border-radius: 7px; /* Make the input boxes round */
}

#id_login {
    display: flex;
    flex-direction: column;
  }

#id_password {
    display: flex;
    flex-direction: column;
  }
  
#login-form label {
    margin-bottom: 0.5em;
  }

a{
    text-decoration:none !important;
    }
    h1,h2,h3{
    font-family: 'Kaushan Script', cursive;
    }
     .myform{
   position: relative;
   display: -ms-flexbox;
   display: flex;
   padding: 1rem;
   -ms-flex-direction: column;
   flex-direction: column;
   width: 100%;
   pointer-events: auto;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.2);
   border-radius: 1.1rem;
   outline: 0;
   max-width: 500px;
    }
    .tx-tfm{
    text-transform:uppercase;
    }
    .mybtn{
    border-radius:50px;
    }
   
    .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }
    .google {
    color:#666;
    width:100%;
    height:40px;
    text-align:center;
    outline:none;
    border: 1px solid lightgrey;
    }
     form .error {
    color: #ff0000;
    }
    #second{display:none;}

    /* Sign up form */

    #id_email {
    display: flex;
    flex-direction: column;
    }

    #id_email2 {
    display: flex;
    flex-direction: column;
    }

    #id_username {
    display: flex;
    flex-direction: column;
    }

    #id_password1 {
    display: flex;
    flex-direction: column;
    }

    #id_password2 {
    display: flex;
    flex-direction: column;
    }

/* Navbar for Shop*/
.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    }

.card {
    width: 250px;
    display: flex;

}

@media (max-width: 540px) {
table.table {
    width: 100%;
}
th {
    display: none;
}
td {
    display: block;
}
td:first-child {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}
td:not(:first-child) {
    clear: both;
    margin: 0;
    border: 0;
}
td:not(:first-child):before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
td img {
    display: block;
    width: 100%;
    }
}