@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

#message-container {
    position: relative;
}


/* Messages */
#msg {
    position: absolute;
    top: 0;
    right: 15px;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

