{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<main id="main-form" class="bg-secondary">
  <div class="container">
     <div class="row">
        <div class="col-md-5 mx-auto">
           <div id="first">
              <div class="myform form ">
                 <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                       <h1>{% trans "Sign Out2" %}</h1>
                    </div>
                 </div>
                 <p>{% trans 'Are you sure you want to sign out?' %}</p>
                 {% include "includes/messages.html" %}
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit">{% trans 'Sign Out' %}</button>
                  </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</main>
{% endblock %}