{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    {% endblock %}

    <!-- Extra meta tags -->
    {% block extra_meta %}
    {% endblock %}
    
    <!-- Core Bootstrap CSS -->
    {% block core_css %}
    <link href="{% static 'css/bootstrap_theme/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    <!-- Extra CSS -->
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    {% endblock %}

    <!-- Core Bootstrap JS -->    
    {% block core_js %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}

    <!-- Extra JS -->
    {% block extra_js %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'image/favicon.svg' 'image' %}">
    
    <title>GreenSeed {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Messages -->
    {% block messages %}
    {% endblock %}

    <!-- Header -->
    {% include "includes/header.html" %}

    
    <!-- Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include "includes/footer.html" %}    

    {% block postload_js %}
    <script>
      setTimeout(function () {
          let messages = document.getElementById('msg');
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 2500);
  </script>
    {% endblock %}
    
  </body>
</html>