{% extends 'base.html' %}
{% load static %}


{% block content %}
<main>
    <div class="container">
        {% include "includes/messages.html" %}
      <h1 class="text-center mb-4">Cart</h1>
      {% if cart_items %}
        <table class="table cart-table table-rounded table-responsive">
          <thead>
            <tr>
            <th scope="col">Product image</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
              <tr>
                <td><img src="{{ item.product.image.url }}" alt="Product Image" class="img-fluid" style="max-width: 100px;"></td>
                <td>{{ item.product }}</td>
                <td>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-left" id="decrement-quantity">-</button>
                      </div>
                      <input type="number" name="quantity" min="1" value="{{ item.quantity }}" id="quantity-{{ item.product.id }}" class="form-control form-control-sm" style="width: 50px;" onchange="updateQuantity(this)">
                      <div class="input-group-append">
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-right" id="increment-quantity">+</button>
                      </div>
                    </div>
                  </td>
                <td>€{{ item.product.price }}</td>
                <td><span id="line-total-{{ item.product.id }}">€{{ item.line_total }}</span></td>
                <td>
                    <div class="btn-group btn-group-sm">
                      <form method="POST" action="{% url 'remove_item' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product.id }}">
                        <button type="submit" class="btn btn-danger btn-sm mr-2" name="remove">Remove</button>
                      </form>
                    </div>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="row justify-content-end mb-4">
          <div class="col-12 col-md-4">
            <p>Total: <span id="grand-total">€{{ grand_total }}</span></p>
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">Checkout</a>
          </div>
        </div>
      {% else %}
        <p>Your cart is empty</p>
      {% endif %}
    </div>
    {% include "shop/includes/cart_change_and_update.html" %}
  </main>
{% endblock %}
