{% extends "base.html" %}
{% load static %}

{% block content %}
        <main>
            {% include "shop/includes/search.html" %}
            {% include "includes/messages.html" %}
            <div class="container pb-4 pt-4">
                <div class="align-items-center row">
                    <div class="col">
                        <hr class="border-secondary mb-0 mt-0"/> 
                    </div>
                    <div class="col-auto">
                        <h2 class="fw-bold h4 mb-0 text-uppercase">PRODUCT DETAILS</h2> 
                    </div>
                    <div class="col">
                        <hr class="border-secondary mb-0 mt-0"/> 
                    </div>
                </div>
            </div>
            <div class="product-details-container" style="min-height: 500px; overflow-y: auto;">
                <div class="container mt-5">
                    <div class="row">
                    <div class="col-lg-5">
                        <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="col-lg-7">
                        <h2 class="h3 mb-3">{{ product.name }}</h2>
                        <p>{{ product.description }}</p>
                        {% if product.rating %}
                        <p><i class="fas fa-star"></i>{{ product.rating }}/5</p>
                        {% endif %}
                        <p>Stock: {% if product.availability %}<i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</p>
                        <form method="POST" action="{% url 'add_item' product.id %}">
                            {% csrf_token %}
                            <label for="quantity">Quantity:</label>
                            <div class="form-group d-flex align-items-center">
                              <button type="button" class="btn btn-sm btn-outline-secondary rounded-left" id="decrement-quantity">-</button>
                              <input type="number" name="quantity" value="1" min="1" class="form-control form-control-sm" style="width: 100px;">
                              <button type="button" class="btn btn-sm btn-outline-secondary rounded-right" id="increment-quantity">+</button>
                            </div>
                            <br>
                            <br>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-outline-secondary">Back</a>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                              <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                              <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                            {% endif %}
                          </form>
                    </div>
                    </div>
                </div>
            </div>
            {% include "shop/includes/quantity_input_script.html" %}
        </main>
    {% endblock %}