{% extends "base.html" %}
{% load static %}

{% block content %}
        <main>
            {% include "shop/includes/search.html" %}
            {% include "includes/messages.html" %}
            <div class="container pb-4 pt-4">
                <div class="align-items-center row">
                    <div class="col">
                        <hr class="border-secondary mb-0 mt-0"/> 
                    </div>
                    <div class="col-auto">
                        <h2 class="fw-bold h4 mb-0 text-uppercase">PRODUCT DETAILS</h2> 
                    </div>
                    <div class="col">
                        <hr class="border-secondary mb-0 mt-0"/> 
                    </div>
                </div>
            </div>
            <div class="product-details-container" style="min-height: 500px; overflow-y: auto;">
                <div class="container mt-5">
                    <div class="row">
                    <div class="col-lg-5">
                        <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="col-lg-7">
                        <h2 class="h3 mb-3">{{ product.name }}</h2>
                        <p>{{ product.description }}</p>
                        {% if product.rating %}
                        <p><i class="fas fa-star"></i>{{ product.rating }}/5</p>
                        {% endif %}
                        <p>Stock: {% if product.availability %}<i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</p>
                        <form method="POST" action="{% url 'add_item' product.id %}">
                            {% csrf_token %}
                            <label for="quantity">Quantity:</label>
                            <div class="form-group d-flex align-items-center">
                              <button type="button" class="btn btn-sm btn-outline-secondary rounded-left" id="decrement-quantity">-</button>
                              <input type="number" name="quantity" value="1" min="1" class="form-control form-control-sm" style="width: 100px;">
                              <button type="button" class="btn btn-sm btn-outline-secondary rounded-right" id="increment-quantity">+</button>
                            </div>
                            <br>
                            <br>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-sm btn-outline-secondary">Back</a>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                              <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                              <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                            {% endif %}
                          </form>
                          <br>
                          {% if order_item %}
                          {% if user_review %}
                            <p>You reviewed this product on: {{ user_review.created_at }}</p>
                          {% else %}
                            <a href="{% url 'review' product_id=product.id %}">
                              <button class="btn btn-primary">Leave a Review</button>
                            </a>
                          {% endif %}
                        {% endif %}
                            <div>
                            <hr>
                            <div class="reviews-section">
                                <h3 class="text-center font-weight-bold my-3">Reviews</h3>
                                {% if product_reviews %}
                                  {% for review in product_reviews %}
                                    <div class="card my-3 w-100">
                                      <div class="card-body">
                                        <div class="d-flex justify-content-between mb-3">
                                          <h5 class="card-title mb-0">{{ review.user_profile.user.username }}</h5>
                                          <h6 class="card-subtitle mb-0"><i class="fas fa-star"></i> {{ review.rating }}</h6>
                                        </div>
                                        <p class="text-muted small mb-2">Reviewed on {{ review.created_at }}</p>
                                        <p class="card-text">{{ review.text }}</p>
                                      </div>
                                    </div>
                                  {% endfor %}
                                {% else %}
                                  <p class="text-center">No reviews found.</p>
                                {% endif %}
                              </div>
                            <hr>
                            {% for review in all_reviews %}
                                <div>
                                    {{ review.user_profile.user.username }}: {{ review.text }}
                                </div>
                            {% endfor %}
                            </div>
                    </div>
                    </div>
                </div>
            </div>
            {% include "shop/includes/quantity_input_script.html" %}
        </main>
    {% endblock %}