{% extends "base.html" %}
{% load static %}

{% block content %}
        <main>
            {% include "includes/search.html" %}
            <div class="container pb-4 pt-4">
                <div class="align-items-center row">
                    <div class="col">
                        <hr class="border-secondary mb-0 mt-0"/> 
                    </div>
                    <div class="col-auto">
                        <h2 class="fw-bold h4 mb-0 text-uppercase">{{ category_name }}</h2> 
                    </div>
                    <div class="col">
                        <hr class="border-secondary mb-0 mt-0"/> 
                    </div>
                </div>
            </div>
            {% if products %}
            <section class="bg-light pb-5 pt-5">
                <div class="container"> 
                    <div class="row"> 
                        {% for product in products %}
                            <div class="col-6 col-lg-3 col-md-4 pb-3 pt-3"> 
                                <div class="card">
                                    <a href="{% url 'product-details' product.id %}" class="d-block mb-3">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid w-100" width="500" height="700"/>
                                        {% else %}
                                            <img src="{% static 'default/not-found.jpg' %}" alt="{{ product.name }}" class="img-fluid w-100" width="500" height="700"/>
                                        {% endif %}
                                    </a>
                                    <div class="card-body">
                                        <a href="{% url 'product-details' product.id %}" class="d-inline-block mb-2 small text-secondary">{{ product.name }}</a>
                                        {% if product.description %}
                                        <p class="card-text">{{ product.description|truncatewords:20 }} <a href="{% url 'product-details' product.id %}" class="text-secondary">See more</a></p>
                                        {% endif %}
                                        <div class="d-flex justify-content-between align-items-center">
                                          <div class=""><span class="h6 text-danger">€{{ product.price }}</span></div>
                                          {% if product.rating %}
                                          <small class="text-muted text-uppercase"><i class="fa fa-star"></i> {{ product.rating }}</small>
                                          {% endif %}
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                            <form method="POST" action="{% url 'add_item' product.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                                                <input type="hidden" name="quantity" value="1" min="1">
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </form>
                                          </div>
                                          <small class="text-muted">Stock: {% if product.availability %}<i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}</small>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>        
            {% if products.paginator.num_pages > 1 %}
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for page in products.paginator.page_range %}
                    {% if products.number == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="text-center">No products found</h2>
                        </div>
                    </div>
                </div>
            {% endif %}
        </main>
    {% endblock %}